/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: #f8f9fa; /* diia-light */
  font-family: 'Inter', system-ui, sans-serif;
  color: #212529; /* diia-dark */
}

button,
input {
  font-family: inherit;
}